@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5f6f7;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.logo {
  cursor: pointer;
  width: 30px;
  height: auto;
  margin-left: 60px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: #fe8c00;
}

.nav_links li a.active {
  color: #fe8c00;
  font-weight: 600;
}

button {
  padding: 9px 25px;
  background-color: #fe8c00;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 50px;
}

button:hover {
  background-color: #ee8506;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#hero .left_section {
  max-width: 50%;
  margin-top: -190px !important;
}

#hero .left_section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #000;
}
#hero .left_section h3 {
  color: #fe8c00;
}
#hero .left_section h6 {
  margin-bottom: 10px;
  color: #000;
}

#hero .left_section p {
  margin-bottom: 20px;
  color: #333;
  align-items: center;
  align-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#hero .right_section img {
  width: 300px;
  max-width: 100%;
  margin-top: -120px !important;
  border-radius: 20px;

  transition: transform 0.3s ease;
}

#hero .right_section img:hover {
  transform: scale(1.05);
}

@media (max-width: 900px) {
  #hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 5%;
  }

  #hero .left_section {
    max-width: 100%;
    margin-bottom: 30px;
  }

  #hero .left_section h1 {
    font-size: 2.2rem;
  }

  #hero .right_section img {
    width: 300px;
  }
}
